html {
    scroll-behavior: smooth;
    margin: 0px;
    min-height: 100%;
}

body {
    background: linear-gradient(252.44deg, #294369 0%, #0B0D22 100%);
    min-height: 100%;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #29436900;
    margin-block: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background: #0b0d2238;
    border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b0d2279;
}

/* Main page content */
.pageHeader {
    margin: 0 auto;
    padding: 0px;
}

.headerWrapper {
    flex-grow: 1;
    padding: 3%;
}

.parentDiv {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 5%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3.1%;
    box-sizing:border-box;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 400px;
}

.parentLogoDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.projectTitle {
    font-family: 'Great Vibes', serif;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 300%; 
    transition: all 1s;
    
}

.projectTitle:hover {
    color: #f18c51;
}

.parentLoginDiv {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    padding-bottom: 0px;
}

.loginText {
    padding-right: 5px;
    font-family: 'Glory', serif;
    color: white;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-size: 300%;
}

.loginSideBar {
    margin-left: 4px;
}

.sideBar {
    background: #FDE3D5;
    margin-top: 15px;
    width: 487px;
    height: 2px;
    border-radius: 10px;
    border: 0;
}

.loginUserInputArea {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.usernameInput {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}

.inputText {
    font-family: 'Glory', serif;
    color: white;
    font-weight: 300;
    font-style: italic;
    font-size: 32px;
    text-align: center;
}

.inputBox {
    border: 0px;
    font-family: 'Glory', serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    height: 30px;
    width: 255px;
    border-radius: 50px;
    background-color: #12163b7e;
    color: #FDE3D5;
    transition: 1s;
}

.inputBox::placeholder {
    font-family: 'Glory', serif;
    font-weight: 300;
    font-style: italic;
    color: #FDE3D5;
}

.inputBox:focus {
    border: 0px;
    background-color: #1218497e;
}

.passwordInput {
    padding: 5px;
}

.signIn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
}

.signInButton {
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-family: 'Glory', serif;
    color: #FDE3D5;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    font-size: 28px;
    transition: 1s;
}


.signInButton:hover, .signInButton:focus {
    color: #f18c51;
}

/*
.signInButton:after {
    display: block;
    content: '';
    border-bottom: solid 1.05px #FDE3D5;
    transform: scaleX(0);
    transition: 1s;
}


.signInButton:hover:after {
    transform: scaleX(1);
    border-color: #f18c51;
}
*/

/* Main page content */

/* Large devices */
@media (max-width: 1500px) {
    .parentDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px;
    }

    .parentLoginDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .parentLogoDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
}

@media (max-width: 1000px) {
    .parentDiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 100px;
    }

    .parentLogoDiv {
        text-align: center;
        display: flex;
        max-width: 300px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .projectLogo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }

    .projectTitle {
        display: flex;
        text-align: center;
    }

}

/* Medium devices */
@media (max-width: 768px) {
    .parentDiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .parentLogoDiv {
        display: flex;
        max-width: 300px;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
    }

    .wrapEmptySpace {
        flex-grow: 1;
        padding: 100px;
    }
}

/* Small devices */
@media (max-width: 600px) {

    .parentDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10%;
        width: 10%;
    }

    .wrapper {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    .parentLogoDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .projectTitle {
        text-align: center;
        font-size: 2.8rem;
    }

    .parentLoginDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .loginText {
        font-size: 2.5rem;
    }

    .sideBar {
        width: 160px;
    }

    .wrapEmptySpace {
        flex-grow: 1;
        padding: 50px;
    }

    .pageFooter {
        min-height: 100px;
        margin-top: auto;
        padding-bottom: 16.3px;
    }
}
