@import url(reset.css);

html {
    scroll-behavior: smooth;
    margin: 0px;
    min-height: 100%;
}

body {
    background: linear-gradient(252.44deg, #294369 0%, #0B0D22 100%);
    min-height: 100%;
}

/* Main page content */

.pageHeader {
    margin: 0 auto;
    padding: 0px;
}

.headerWrapper {
    flex-grow: 1;
    padding: 3%;
}

.parentDiv {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 5%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3.1%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 400px;
}

.parentLogoDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.projectTitle {
    font-family: 'Great Vibes', serif;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 300%; 
    transition: all 1s;
}

.projectTitle:hover {
    color: #f18c51;
}

/*.centerLine {
    display: flex;
    padding-top: 210px;
    padding-bottom: 210px;
    border-right: solid 1px #FDE3D5;
}*/

.parentLoginDiv {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    padding-bottom: 0px;
}

.loginText {
    padding-right: 5px;
    font-family: 'Glory', serif;
    color: white;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-size: 300%;
    font-weight:bold;
}

.loginSideBar {
    margin-left: 4px;
}

.sideBar {
    margin-top: 15px;
    width: 487px;
    color: #FDE3D5;
    background-color: #FDE3D5;
    border-color: #FDE3D5;
}

.loginUserInputArea {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.usernameInput {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}

.inputText {
    font-family: 'Glory', serif;
    color: white;
    font-weight: 300;
    font-style: italic;
    font-size: 32px;
    text-align: center;
}

.inputBox {
    font-family: 'Glory', serif;
    font-size: 18px;
    font-style: bold;
    font-weight: 500;
    color: #FDE3D5;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    height: 40px;
    width: 255px;
    border-radius: 50px;
    background-color: #12163b7e;
}

.inputBox::placeholder {
    font-family: 'Glory', serif;
    font-style: italic;
    color: #FDE3D5;
}

.passwordInput {
    padding: 5px;
}

.signIn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
}

.signInText {
    font-family: 'Glory', serif;
    color: #FDE3D5;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    font-size: 28px;
    padding-right: 5px;
    padding-left: 5px;
}

.signInText:after {
    display: block;
    content: '';
    border-bottom: solid 1.05px #FDE3D5;
    transform: scaleX(0);
    transition: 1s;
}

.signInText:hover:after {
    transform: scaleX(1);
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.registerText {
    font-family: 'Glory', serif;
    color: white;
    font-size: 20px;
    font-style: italic;
}

#registerSpan {
    font-weight: 700;
    font-style: bold;
}
/* Main page content */

.wrapEmptySpace {
    padding: 5%;
    flex-grow: 1;
}

/* Page footer */
.pageFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    bottom: 0px;
}

.pageFooterDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.footerText {
    margin-top: 5%;
    font-family: 'Glory', serif;
    font-style: italic;
    color: white;
    font-weight: 200;
    font-size: 140%;
}
/* Page footer */

/* Large devices */
@media (min-width: 1500px) {
    
}

@media (max-width: 1500px) {
    .wrapper {
        gap: 200px;
    }
}

@media (min-width: 1000px) {
    .parentDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .parentLoginDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .parentLogoDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 1000px) {

}

/* Medium devices */
@media (min-width: 768px) {

}

@media (max-width: 768px) {
    .parentDiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .parentLogoDiv {
        display: flex;
        max-width: 300px;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
    }

    .wrapEmptySpace {
        flex-grow: 1;
        padding: 100px;
    }
}

@media (min-width: 600) {

}

/* Small devices */
@media (max-width: 600px) {

    .parentDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10%;
        width: 10%;
    }

    .wrapper {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    .parentLogoDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .projectTitle {
        text-align: center;
        font-size: 2.8rem;
    }

    .parentLoginDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .loginText {
        font-size: 2.5rem;
    }

    .sideBar {
        width: 160px;
    }

    .wrapEmptySpace {
        flex-grow: 1;
        padding: 50px;
    }

    .pageFooter {
        min-height: 100px;
        margin-top: auto;
        padding-bottom: 16.3px;
    }
}