@import url(reset.css);

body {
    background: linear-gradient(252.44deg, #294369 0%, #0B0D22 100%);
}

/* Main page content */
.parentDiv {
    flex-wrap: wrap;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3.1%;
}

.projectLogo {
    padding-right: 370px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 260px;
    border-right: solid 1px #FDE3D5;
}

.projectTitle {
    font-family: 'Great Vibes', serif;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 300%; 
    transition: all 1s;

}

.projectTitle:hover {
    color: #FDE3D5;
}

.parentLoginDiv {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    padding-bottom: 0px;
}

.loginText {
    padding-right: 5px;
    font-family: 'Glory', serif;
    color: white;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-size: 300%;
    font-weight:bold;
}

.loginSideBar {
    margin-left: 4px;
}

.sideBar {
    margin-top: 15px;
    width: 487px;
    color: #FDE3D5;
    background-color: #FDE3D5;
    border-color: #FDE3D5;
}

.loginUserInputArea {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.usernameInput {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}

.inputText {
    font-family: 'Glory', serif;
    color: white;
    font-weight: 300;
    font-style: italic;
    font-size: 32px;
    text-align: center;
}

.inputBox {
    font-family: 'Glory', serif;
    font-size: 18px;
    font-style: bold;
    font-weight: 500;
    color: #FDE3D5;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    height: 40px;
    width: 255px;
    border-radius: 50px;
    background-color: #12163b7e;
}

.inputBox::placeholder {
    font-family: 'Glory', serif;
    font-style: italic;
    color: #FDE3D5;
}

.passwordInput {
    padding: 5px;
}

.signIn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
}

.signInText {
    font-family: 'Glory', serif;
    color: #FDE3D5;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    font-size: 28px;
    padding-right: 5px;
    padding-left: 5px;
}

.signInText:after {
    display: block;
    content: '';
    border-bottom: solid 1.05px #FDE3D5;
    transform: scaleX(0);
    transition: 1s;
}

.signInText:hover:after {
    transform: scaleX(1);
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.registerText {
    font-family: 'Glory', serif;
    color: white;
    font-size: 20px;
    font-style: italic;
}

#registerSpan {
    font-weight: 700;
    font-style: bold;
}
/* Main page content */

/* Page footer */
.footer {
    margin: 1% ;
    text-align: center;
    padding: 3px;
}

.footerText {
    margin-top: 12.40%;
    font-family: 'Glory', serif;
    font-style: italic;
    color: white;
    font-weight: 200;
    font-size: 140%;
    position: bottom;
}
/* Page footer */
