<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Charlotte</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/View/public/css/reset.css" />
    <link rel="stylesheet" href="/View/public/css/style-coord-table.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Glory:wght@100&family=Great+Vibes&family=Raleway:wght@100;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Glory:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <header class="pageHeader">
        <nav class="menu">
            <div class ="admin-icon">
                <img src="../img/leuson.jpg" alt="leuson sensual">
            </div>
            <ul class="menuItemsDiv">
                <li class="menuItems"><a href="#" class="color">Menu</a></li>
                <li class="menuItems"><a href="#" class="color" id="coordinatorText">Coordenadores</a></li>
                <li class="menuItems"><a href="#" class="color">Entregadores</a></li>
                <li class="menuItems"><a href="#" class="color">Sair</a></li>
            </ul>
        </nav>
        <hr size="1" width="100%">
    </header>
    <main class="pageMainContent">
        <div class="contentWrapper">
            <table class="coordinatorsTable">
                <tr class="tableHeader">
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Cidade</th>
                </tr>
                <tr class="tableCells">
                    <td id="nameCell">Danilo Silva</td>
                    <td id="CPFCell">123.456.789-00</td>
                    <td id="cityCell">Recife</td>
                </tr>
                <tr class="tableCells">
                    <td id="nameCell">Luiz Fernando</td>
                    <td id="CPFCell">987.654.321-00</td>
                    <td id="cityCell">Olinda</td>
                </tr>
                <tr class="tableCells">
                    <td id="nameCell">Lucas Antônio</td>
                    <td id="CPFCell">999.888.777-66</td>
                    <td id="cityCell">Jaboatão</td>
                </tr>
                <tr class="tableCells">
                    <td id="nameCell">Flávio Vinícius</td>
                    <td id="CPFCell">420.555.777-99</td>
                    <td id="cityCell">Recife</td>
                </tr>
            </table>
        </div>
        <div class="tableButtons">
            <nav class="tableMenu">
                <ul class="tableMenuItems">
                    <li class="tableMenuOption">Novo</li>
                    <li class="tableMenuOption">Buscar</li>
                </ul>
            </nav>
        </div>
    </main>
</body>
</html>