* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    min-height: 100%;
}

body {
    background: linear-gradient(252.44deg, #294369 0%, #0B0D22 100%);
    min-height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
        width: 0.5rem;
}

::-webkit-scrollbar-track {
        background: #29436900;
        margin-block: 0.3rem;
}

::-webkit-scrollbar-thumb {
        background: #0b0d2238;
        border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
        background: #0b0d2279;
}

.pageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #1d1d1d65;
    height: 100px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 10px #0B0D2240;
    border-bottom: solid 1px #0B0D2210;
}

.content-divider {
    background-color: #FDE3D5;
    width: 175px;
    height: 1.5px;
    border-radius: 50px;
    transition: 1s;
}

.admin-profile-info:hover .content-divider {
    width: 230px;
}

.admin-icon {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
}
  
.admin-icon img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}

.menuItemsDiv{
    display:flex;
}

.menuItems{
    margin-left: 20px;
    color:white;
    font-family: 'Raleway';
    font-weight:400;
    font-size:20px;
}

.color{
    text-decoration:none;
    color:white;
    transition: 0.5s;
}

#menuText {
    color: #FFCDB1;
}

.color:is(:hover, :focus) {
    color:#FFCDB1;
}


.parentAdminGod {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 46px;
}

.parentAdminWrapper {
    width: 600px;
    height: 700px;
    position: absolute;
    background-color: #1D1D1D50;
    z-index: -1;
    border-radius: 43px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.164);
}

.parentAdminDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 31px;
    margin-top: 12%;
    border-radius: 43px;
}

.admin-icon-profile {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
}

#admin-profile-picture {
    width: 120px;
    height: 120px;
    object-fit: cover;
    transition: 0.5s;
}

#admin-profile-picture:hover {
    transform: scale(1.1);
}

.admin-profile-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 235px;
    height: 38px;
    background-color: #36363630;
    flex-grow: 1;
    flex-wrap: wrap;
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.25);
}

#admin-name, .admin-info-element, .admin-edit-profile {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}

.admin-profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.parent-admin-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 400px;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 20px;
}

.admin-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.admin-info-button {
    width: 300px;
    height: 40px;
    border-radius: 50px;
    background-color: #36363630;
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.25);
    border: 0px;
    cursor: pointer;
    transition: 1s;
}

.admin-info-button:is(:hover, :focus) {
    background-color: #25396b81;
}

.admin-info-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pageBlur {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 100%;
    min-height: 150%;
    backdrop-filter: blur(5px);
    background-color: #00000030;
}

.delivery-register-modal-wrapper,
.coordinator-register-modal-wrapper,
.admin-edit-profile-modal-wrapper {
    z-index: 2;
    padding: 30px;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 400px;
    border-radius: 50px;
    background-color: #00000070;
    backdrop-filter: blur(5px);
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.25);
}

.coordinator-register-modal-wrapper {
    width: 950px;
    height: 320px;
}

.admin-edit-profile-modal-wrapper {
    height: 300px;
}

.modal-title-text {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.7rem;
}

.register-form-wrapper,
.edit-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-row,
.edit-row {
    display: flex;
    padding: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 130px;
}

.register-row-buttons,
.edit-row-buttons {
    display: flex;
    padding: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.input-wrapper {
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.input-title-text {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
}

.input-box {
    color: #FFCDB1;
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px;
    border-color: white;
    transition: 1s;
}

.input-box:is(:hover, :focus) {
    border-color: rgb(70, 171, 253);
}

.input-box::placeholder {
    font-family: 'Glory', Arial, Helvetica, sans-serif;
    color: #FFCDB1;
    font-size: 0.9rem;
    font-style: italic;
}

.input-button {
    border: 0;
    background-color: transparent;
    font-family: 'Glory', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 1s;
}

.input-button:is(:hover, :focus) {
    color: rgb(70, 171, 253);
}